.locationList{
    height: 85vh;
    overflow:auto;    
}

@media(max-width: 64em){
    .locationList{
        max-height: 45vh; 
        /*
        max-height: 30vh;
        */
        margin-bottom: 20px;

    }

}

.forecastTittle{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}